@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #EDF7FF;
    color: #242632;
    font-family: 'Roboto', sans-serif;
}

ul,ol{
    list-style-type: none;
}

.container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

